<div class="modal" id="myModal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-size: 1.5rem; font-weight: 300;">BUTTON ERROR</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>     
            </div>

            <div class="modal-body">
                <h1 class="content mt-3">This functionality has not yet been added</h1>
            </div>
        </div>
    </div>


</div>


<style>

.content{
    color: #A84B5C;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
}
</style>