<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-size: 2rem; font-weight: 300;">CART</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <!-- Horizontal cards -->
                <!-- Order 1 -->
                <div class="card">
                    <div class="row">
                        <div class="col-2 col-lg-4 cart">
                            <img src="https://images.pexels.com/photos/3858049/pexels-photo-3858049.jpeg?cs=srgb&dl=pexels-ummy-ummy-3858049.jpg&fm=jpg" alt="Order 1" class="image-fluid">
                        </div>
                        <div class="col-6 col-lg-8 cart-txt">
                            <div class="row">
                                <div class="col-10">
                                    <h2 class="cart-title mt-3">Toast bread & Tea</h2>
                                    <h6 class="price">₦200</h6>
                                </div>
                                <div class="col-2 mt-3">
                                    <h6 class="price">1</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Order 2 -->
                <div class="card mt-3">
                    <div class="row">
                        <div class="col-2 col-lg-4 cart">
                            <img src="https://www.linkpicture.com/q/image-5_12.jpg" alt="Order 2" class="image-fluid">
                        </div>
                        <div class="col-6 col-lg-8 cart-txt">
                            <div class="row">
                                <div class="col-10">
                                    <h2 class="cart-title mt-3">Akara balls</h2>
                                    <h6 class="price">₦150</h6>
                                </div>
                                <div class="col-2 mt-3">
                                    <h6 class="price">3</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Order 3 -->
                <div class="card mt-3">
                    <div class="row">
                        <div class="col-2 col-lg-4 cart">
                            <img src="https://images.pexels.com/photos/5946081/pexels-photo-5946081.jpeg?cs=srgb&dl=pexels-any-lane-5946081.jpg&fm=jpg" alt="Meal 9" class="image-fluid">
                        </div>
                        <div class="col-6 col-lg-8 cart-txt">
                            <div class="row">
                                <div class="col-10">
                                    <h2 class="cart-title mt-3">Watermelon</h2>
                                    <h6 class="price">₦300</h6>
                                </div>
                                <div class="col-2 mt-3">
                                    <h6 class="price">2</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <a href="{{ url_for('checkout_page') }}" id="continue-checkout" class="btn btn-color">Continue to checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.modal-header{
    background: #A84B5D;
    background: -webkit-linear-gradient(top left, #A84B5D, #F6EFA6);
    background: -moz-linear-gradient(top left, #A84B5D, #F6EFA6);
    background: linear-gradient(to bottom right, #A84B5D, #F6EFA6);
    color: #2E2F2F;
}

#continue-checkout{
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    width: 15rem;
    border-radius: 5rem;
    position: relative;
    margin-top: 2rem;
    border: none;
    display: inline-block;
}

.card{
  box-shadow: 0px 2px 5px #A84B5C;
  overflow: hidden;
  border-radius: 15px;
}

.price{
   color: #A84B5C;
   font-weight: 600;
   font-style: italic;
   font-size: 20px;
}

.cart .image-fluid{
    height: 5.5rem;
}

.cart-title{
    font-size: 23px;
    color: #2E2F2F;
    font-weight: bold;
}

@media (max-width: 768px){
    .cart-txt{
        position: relative;
        left: 5rem;
    }
    .cart-txt .h2{
        font-size: 1rem;
    }
    .cart-text .h6{
        font-size: 0.5rem;
    }
    .cart-title{
        font-size: 14px;
    }


}

</style>