<!-- Menu Page -->
{% extends 'base_template.html' %}
{% block title %}
    Menu
{% endblock %}


{% block content %}
<div class="conntainer-fluid mt-2">
    <!--Canvas toggle -->
    <div class="row g-3 mb-1">
      <div class="col-4 col-md-4 col-lg-4 bars">
        <i class="fas fa-bars" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"></i>
      </div>

      <!-- Breakfaast Header -->
      <div class="col-8 col-md-8 col-lg-8">
        <h1 class="menu-section1" id="breakfast">Breakfast</h1>
      </div>
    </div>

    <!-- Section content-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasWithBackdropLabel">Sections</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <a class="food-section" href="{{ url_for('menu_page') }}#breakfast">Breakfast</a><br><br>
        <a class="food-section" href="{{ url_for('menu_page') }}#brunch">Brunch</a><br><br>
        <a class="food-section" href="{{ url_for('menu_page') }}#lunch">Lunch</a><br><br>
        <a class="food-section" href="{{ url_for('menu_page') }}#fruit">Fruits</a><br><br>
      </div>
    </div>

    <!-- Breakfast meals -->
    <!-- Breakfast 1 -->
    <div class="row g-3">
      <!-- Meal 1 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://images.pexels.com/photos/3858049/pexels-photo-3858049.jpeg?cs=srgb&dl=pexels-ummy-ummy-3858049.jpg&fm=jpg" alt="Breakfast 1" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Toast bread & Tea</h5>
            <h6 class="price">₦200</h6>
            <p class="card-text">{% include '/text/meal_1.txt' %}</p>
            <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
          </div>
        </div>
      </div>
  
      <!-- Breakfast 2 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://www.linkpicture.com/q/image-5_12.jpg" alt="Breakfast 2" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Akara balls</h5>
            <h6 class="price">3 for ₦50</h6>
            <p class="card-text">{% include '/text/meal_1.txt' %}</p>
            <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
          </div>
        </div>
      </div>
  
      <!-- Breakfast 3 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://www.linkpicture.com/q/image-6_11.jpg" alt="Breakfast 3" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Custard</h5>
            <h6 class="price">₦300</h6>
            <p class="card-text">{% include '/text/meal_1.txt' %}</p>
            <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
          </div>
        </div>
      </div>
  
      <!-- Breakfast 4 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://www.linkpicture.com/q/image-7_14.jpg" alt="Breakfast 4" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Pap</h5>
            <h6 class="price">₦150</h6>
            <p class="card-text">{% include '/text/meal_1.txt' %}</p>
            <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
          </div>
        </div>
      </div>
    </div>


    <!-- Row 2 -->
    <div class="row g-3 mt-3">
      <!-- Breakfast 5 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://www.linkpicture.com/q/image-8_11.jpg" alt="Breakfast 5" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Pancake with syrup</h5>
            <h6 class="price">₦300</h6>
            <p class="card-text">{% include '/text/meal_1.txt' %}</p>
            <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
          </div>
        </div>
      </div>
  

    <!-- Brunch -->
    <!-- Brunch Header -->
    <div class="row g-3">
      <div class="container">
        <div class="section-divider" id="brunch"><span>Brunch</span></div>
      </div>
    </div>
  
    <!-- Row 1 -->
    <div class="row g-3 mt-3 mb-3">
      <!-- Brunch 1 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1589227365533-cee630bd59bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Brunch 1" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Noodles</h5>
            <h6 class="price">₦250</h6>
            <p class="card-text">{% include '/text/meal_1.txt' %}</p>
            <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
          </div>
        </div>
      </div>
  
      <!-- Brunch 2 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1566784015556-ef5dd7f9497f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Brunch 2" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Waffles</h5>
            <h6 class="price">₦300</h6>
            <p class="card-text">{% include '/text/meal_1.txt' %}</p>
            <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
          </div>
        </div>
      </div>


      <!-- Brunch 3 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://images.pexels.com/photos/890577/pexels-photo-890577.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Brunch 3" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Cookies</h5>
            <h6 class="price">₦150 per unit</h6>
            <p class="card-text">{% include '/text/meal_1.txt' %}</p>
            <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
          </div>
        </div>
      </div>
    </div>

  <!-- Lunch -->
  <!-- Lunch Header -->
  <div class="row g-3">
    <div class="container">
      <div class="section-divider" id="lunch"><span>Lunch</span></div>
    </div>
  </div>

  <!-- Row 1 -->
  <div class="row g-3 mt-3 mb-3">
    <!-- Lunch 1 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://www.linkpicture.com/q/image-13_6.jpg" alt="Lunch 1" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Amala</h5>
          <h6 class="price">₦150</h6>
          <p class="card-text">{% include '/text/meal_1.txt' %}</p>
          <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
        </div>
      </div>
    </div>

    <!-- Lunch 2 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://www.linkpicture.com/q/image-11_8.jpg" alt="Lunch 2" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Eba</h5>
          <h6 class="price">₦150</h6>
          <p class="card-text">{% include '/text/meal_1.txt' %}</p>
          <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
        </div>
      </div>
    </div>

    <!-- Lunch 3 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://www.linkpicture.com/q/image-12_7.jpg" alt="Lunch 3" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Pounded yam</h5>
          <h6 class="price">₦150</h6>
          <p class="card-text">{% include '/text/meal_1.txt' %}</p>
          <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
        </div>
      </div>
    </div>

    <!-- Lunch 4 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://www.linkpicture.com/q/image-15_5.jpg" alt="Lunch 4" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Egusi soup</h5>
          <h6 class="price">₦500</h6>
          <p class="card-text">{% include '/text/meal_1.txt' %}</p>
          <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
        </div>
      </div>
    </div>
  </div>


  <!-- Row 2 -->
  <div class="row g-3 mt-3 mb-3">
    <!-- Lunch 5 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/7233189/pexels-photo-7233189.jpeg?cs=srgb&dl=pexels-artem-podrez-7233189.jpg&fm=jpg" alt="Lunch 5" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Oha soup</h5>
          <h6 class="price">₦500</h6>
          <p class="card-text">{% include '/text/meal_1.txt' %}</p>
          <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
        </div>
      </div>
    </div>
  
    <!-- Lunch 6 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/7233189/pexels-photo-7233189.jpeg?cs=srgb&dl=pexels-artem-podrez-7233189.jpg&fm=jpg" alt="Lunch 6" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Spicy Jollof</h5>
          <h6 class="price">₦300</h6>
          <p class="card-text">{% include '/text/meal_1.txt' %}</p>
          <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
        </div>
      </div>
    </div>

    <!-- Lunch 7 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/7233189/pexels-photo-7233189.jpeg?cs=srgb&dl=pexels-artem-podrez-7233189.jpg&fm=jpg" alt="Lunch 8" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Curry rice and saurce</h5>
          <h6 class="price">₦1,500</h6>
          <p class="card-text">{% include '/text/meal_1.txt' %}</p>
          <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
        </div>
      </div>
    </div>

    <!-- Lunch 8 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/7233189/pexels-photo-7233189.jpeg?cs=srgb&dl=pexels-artem-podrez-7233189.jpg&fm=jpg" alt="Lunch 8" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Plantain and dodo</h5>
          <h6 class="price">₦100</h6>
          <p class="card-text">{% include '/text/meal_1.txt' %}</p>
          <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
        </div>
      </div>
    </div>
  </div>



  <!-- Fruits -->
  <!-- Fruit Header -->
  <div class="row g-3">
    <div class="container">
      <div class="section-divider" id="fruit"><span>Fruits</span></div>
    </div>
  </div>

  <!-- Row 1 -->
  <div class="row g-3 mt-3 mb-3">
    <!-- Fruit 1 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/5946081/pexels-photo-5946081.jpeg?cs=srgb&dl=pexels-any-lane-5946081.jpg&fm=jpg" alt="Fruit 1" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Watermelon</h5>
          <h6 class="price">₦150</h6>
          <p class="card-text">{% include '/text/meal_1.txt' %}</p>
          <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
        </div>
      </div>
    </div>

    <!-- Fruit 2 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/3904800/pexels-photo-3904800.jpeg?cs=srgb&dl=pexels-dmitry-demidov-3904800.jpg&fm=jpg" alt="Fruit 2" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Kiwi</h5>
          <h6 class="price">₦500</h6>
          <p class="card-text">{% include '/text/meal_1.txt' %}</p>
          <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
        </div>
      </div>
    </div>

    <!-- Fruit 3 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/5945854/pexels-photo-5945854.jpeg?cs=srgb&dl=pexels-any-lane-5945854.jpg&fm=jpg" alt="Fruit 3" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Grapes</h5>
          <h6 class="price">₦1,000</h6>
          <p class="card-text">{% include '/text/meal_1.txt' %}</p>
          <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
        </div>
      </div>
    </div>

    <!-- Fruit 4 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/2316466/pexels-photo-2316466.jpeg?cs=srgb&dl=pexels-couleur-2316466.jpg&fm=jpg" alt="Fruit 4" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Banana</h5>
          <h6 class="price">₦150</h6>
          <p class="card-text">{% include '/text/meal_1.txt' %}</p>
          <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
        </div>
      </div>
    </div>
  </div>


  <!-- Row 2 -->
  <div class="row g-3 mt-3 mb-3">
    <!-- Fruit 5 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/7135024/pexels-photo-7135024.jpeg?cs=srgb&dl=pexels-gradienta-7135024.jpg&fm=jpg" alt="Fruit 5" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Carrot juice</h5>
          <h6 class="price">₦500</h6>
          <p class="card-text">{% include '/text/meal_1.txt' %}</p>
          <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
        </div>
      </div>
    </div>

    <!-- Fruit 6 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/7135024/pexels-photo-7135024.jpeg?cs=srgb&dl=pexels-gradienta-7135024.jpg&fm=jpg" alt="Fruit 6" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Fruit punch</h5>
          <h6 class="price">₦500</h6>
          <p class="card-text">{% include '/text/meal_1.txt' %}</p>
          <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
        </div>
      </div>
    </div>

    <!-- Fruit 7 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/7135024/pexels-photo-7135024.jpeg?cs=srgb&dl=pexels-gradienta-7135024.jpg&fm=jpg" alt="Fruit 7" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Veggie smoothie</h5>
          <h6 class="price">₦700</h6>
          <p class="card-text">{% include '/text/meal_1.txt' %}</p>
          <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
        </div>
      </div>
    </div>

    <!-- Fruit 8 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/7135024/pexels-photo-7135024.jpeg?cs=srgb&dl=pexels-gradienta-7135024.jpg&fm=jpg" alt="Fruit 8" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Avocado</h5>
          <h6 class="price">₦550</h6>
          <p class="card-text">{% include '/text/meal_1.txt' %}</p>
          <a href="#" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</a>
        </div>
      </div>
    </div>
  </div>

  {% include 'button_error.html' %}
</div>


<style>
.card-title{
   color: #2E2F2F;
   font-weight: bold;
   font-size: 23px;
}

.price{
   color: #A84B5C;
   font-weight: 600;
   font-style: italic;
   font-size: 20px;
}

.card{
  box-shadow: 0px 2px 5px #A84B5C;
  overflow: hidden;
  border-radius: 15px;
}

.card .btn{
    border-radius: 5rem;
    font-size: 1rem;
    font-weight: 600;
}

.bars .fas{
  font-size: 2rem;
  margin-left: 1rem;
  color: #A84B5C;
}

.menu-section1{
  margin-left: 7rem;
  color: #A84B5C;
  font-size: 40px;
}

.offcanvas-title{
  font-weight: normal;
  font-size: 50px;
  color: #A84B5D;
}

.food-section{
  font-weight: normal;
  font-size: 30px;
  color: #2E2F2F !important;
  text-decoration: none;
}
.food-section:hover{
  font-weight: bolder;
  border-bottom: 3px solid #2E2F2F;
}
.offcanvas-body{
  background: #A84B5D;
  background: -webkit-linear-gradient(top left, #A84B5D, #F6EFA6);
  background: -moz-linear-gradient(top left, #A84B5D, #F6EFA6);
  background: linear-gradient(to bottom right, #A84B5D, #F6EFA6);
}


.container {
  width: 1300px;
  margin-left: 5rem;
}
.section-divider {
  height: 0;
  border-top: 1px solid #DDD;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.section-divider > span {
  color: #A84B5C;
  background: #FAFAFA;
  display: inline-block;
  position: relative;
  padding: 0 17px;
  top: -30px;
  font-size: 40px;
}


#checkout{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    width: 15rem;
    border-radius: 5rem;
    position: relative;
    left: 40rem;
    margin-top: 2rem;
    border: none;
    display: inline-block;
}


@media (max-width: 768px){
    #checkout{
        font-size: 1.5rem;
        width: 10rem;
        position: relative;
        left: 7.5rem;
    }
    
    .menu-section1{
      margin-left: 0rem;
    }

    .container {
      width: 270px;
      margin-left: 4rem;
    }
    .offcanvas{
      width: 50%;
    }
    .offcanvas-title{
    font-size: 25px;
    }


}
</style>

{% endblock %}
