<!-- Menu Page -->
{% extends 'base_template.html' %}
{% block title %}
    Menu
{% endblock %}


{% block content %}
<div class="conntainer-fluid mt-2">
    <!-- Row 1 -->
    <div class="row g-3">
      <!-- Meal 1 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1533089860892-a7c6f0a88666?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Meal 1" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Meal 1</h5>
            <h6 class="price">Price</h6>
            <p class="card-text">{% include '/text/meal_1.txt' %}</p>
            <a href="#" class="btn btn-color btn-lg">Add to cart</a>
          </div>
        </div>
      </div>
  
      <!-- Meal 2 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://images.pexels.com/photos/2067423/pexels-photo-2067423.jpeg?cs=srgb&dl=pexels-marta-dzedyshko-2067423.jpg&fm=jpg" alt="Meal 2" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Meal 2</h5>
            <h6 class="price">Price</h6>
            <p class="card-text">{% include '/text/meal_1.txt' %}</p>
            <a href="#" class="btn btn-color btn-lg">Add to cart</a>
          </div>
        </div>
      </div>
  
      <!-- Meal 3 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://images.pexels.com/photos/688804/pexels-photo-688804.jpeg?cs=srgb&dl=pexels-valeria-boltneva-688804.jpg&fm=jpg" alt="Meal 3" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Meal 3</h5>
            <h6 class="price">Price</h6>
            <p class="card-text">{% include '/text/meal_1.txt' %}</p>
            <a href="#" class="btn btn-color btn-lg">Add to cart</a>
          </div>
        </div>
      </div>
  
      <!-- Meal 4 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://images.pexels.com/photos/566566/pexels-photo-566566.jpeg?cs=srgb&dl=pexels-foodie-factor-566566.jpg&fm=jpg" alt="Meal 4" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Meal 4</h5>
            <h6 class="price">Price</h6>
            <p class="card-text">{% include '/text/meal_1.txt' %}</p>
            <a href="#" class="btn btn-color btn-lg">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Row 2 -->
    <div class="row g-3 mt-3">
      <!-- Meal 5 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://images.pexels.com/photos/103124/pexels-photo-103124.jpeg?cs=srgb&dl=pexels-julian-jagtenberg-103124.jpg&fm=jpg" alt="Meal 5" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Meal 5</h5>
            <h6 class="price">Price</h6>
            <p class="card-text">{% include '/text/meal_1.txt' %}</p>
            <a href="#" class="btn btn-color btn-lg">Add to cart</a>
          </div>
        </div>
      </div>
  
      <!-- Meal 6 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://images.pexels.com/photos/1265626/pexels-photo-1265626.jpeg?cs=srgb&dl=pexels-fox-1265626.jpg&fm=jpg" alt="Meal 6" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Meal 6</h5>
            <h6 class="price">Price</h6>
            <p class="card-text">{% include '/text/meal_1.txt' %}</p>
            <a href="#" class="btn btn-color btn-lg">Add to cart</a>
          </div>
        </div>
      </div>
  
      <!-- Meal 7 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://images.pexels.com/photos/2741458/pexels-photo-2741458.jpeg?cs=srgb&dl=pexels-kei-photo-2741458.jpg&fm=jpg" alt="Meal 7" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Meal 7</h5>
            <h6 class="price">Price</h6>
            <p class="card-text">{% include '/text/meal_1.txt' %}</p>
            <a href="#" class="btn btn-color btn-lg">Add to cart</a>
          </div>
        </div>
      </div>
  
      <!-- Meal 8 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://images.pexels.com/photos/139746/pexels-photo-139746.jpeg?cs=srgb&dl=pexels-angele-j-139746.jpg&fm=jpg" alt="Meal 8" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Meal 8</h5>
            <h6 class="price">Price</h6>
            <p class="card-text">{% include '/text/meal_1.txt' %}</p>
            <a href="#" class="btn btn-color btn-lg">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Row 3 -->
    <div class="row g-3 mt-3 mb-3">
      <!-- Meal 9 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://images.pexels.com/photos/551997/pexels-photo-551997.jpeg?cs=srgb&dl=pexels-foodie-factor-551997.jpg&fm=jpg" alt="Meal 9" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Meal 9</h5>
            <h6 class="price">Price</h6>
            <p class="card-text">{% include '/text/meal_1.txt' %}</p>
            <a href="#" class="btn btn-color btn-lg">Add to cart</a>
          </div>
        </div>
      </div>
  
      <!-- Meal 10 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://images.pexels.com/photos/262897/pexels-photo-262897.jpeg?cs=srgb&dl=pexels-pixabay-262897.jpg&fm=jpg" alt="Meal 10" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Meal 10</h5>
            <h6 class="price">Price</h6>
            <p class="card-text">{% include '/text/meal_1.txt' %}</p>
            <a href="#" class="btn btn-color btn-lg">Add to cart</a>
          </div>
        </div>
      </div>

      <!-- Meal 11 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <img src="https://images.pexels.com/photos/1351238/pexels-photo-1351238.jpeg?cs=srgb&dl=pexels-lisa-fotios-1351238.jpg&fm=jpg" alt="Meal 11" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Meal 11</h5>
            <h6 class="price">Price</h6>
            <p class="card-text">{% include '/text/meal_1.txt' %}</p>
            <a href="#" class="btn btn-color btn-lg">Add to cart</a>
          </div>
        </div>
      </div>

    </div>

    <!-- Row 4 -->
    <div class="row g-3 mt-3 last-rm">
        <a href="{{ url_for('checkout_page') }}" class="btn btn-color btn-lg" id="checkout">Checkout</a>
    </div>

    {% include 'cart.html' %}
</div>


<style>
.card-title{
   color: #2E2F2F;
   font-weight: bold;
   font-size: 23px;
}

.price{
   color: #A84B5C;
   font-weight: 600;
   font-style: italic;
   font-size: 20px;
}

.card{
  box-shadow: 0px 2px 5px #A84B5C;
  overflow: hidden;
  border-radius: 15px;
}

.card .btn{
    border-radius: 5rem;
    font-size: 1rem;
    font-weight: 600;
}

#checkout{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    width: 15rem;
    border-radius: 5rem;
    position: relative;
    left: 40rem;
    margin-top: 2rem;
    border: none;
    display: inline-block;
}
.last-rm{
    margin-bottom: 3rem;
}

@media (max-width: 768px){
    #checkout{
        font-size: 1.5rem;
        width: 10rem;
        position: relative;
        left: 7.5rem;
    }
    .last-rm{
        margin-top: 5rem;
        margin-bottom: -5rem;
    }
}
</style>

{% endblock %}
