<!-- Team Page -->
{% extends 'base_template.html' %}
{% block title %}
    Team
{% endblock %}




{% block content %}
<div class="conntainer-fluid mt-2">
  <!-- Row 1 -->
  <div class="row g-3">
    <!-- Team Memeber 1 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/5149163/pexels-photo-5149163.jpeg?cs=srgb&dl=pexels-antoni-shkraba-5149163.jpg&fm=jpg" alt="Profile 1" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Abdulhameed Raheemat</h5>
          <h6 class="role">Role</h6>
          <p class="card-text">{% include '/text/team_member1.txt' %}</p>
          <div class="social-media">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-twitter-square"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Team Memeber 2 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/935985/pexels-photo-935985.jpeg?cs=srgb&dl=pexels-nappy-935985.jpg&fm=jpg" alt="Profile 2" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Adeleye Adejumoke</h5>
          <h6 class="role">Role</h6>
          <p class="card-text">{% include '/text/team_member1.txt' %}</p>
          <div class="social-media">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-twitter-square"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Team Memeber 3 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/1181280/pexels-photo-1181280.jpeg?cs=srgb&dl=pexels-christina-morillo-1181280.jpg&fm=jpg" alt="Profile 2" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Adeleye Modupe</h5>
          <h6 class="role">Role</h6>
          <p class="card-text">{% include '/text/team_member1.txt' %}</p>
          <div class="social-media">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-twitter-square"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Team Memeber 4 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/1716539/pexels-photo-1716539.jpeg?cs=srgb&dl=pexels-rafael-barros-1716539.jpg&fm=jpg" alt="Profile 2" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Akah Paula</h5>
          <h6 class="role">Role</h6>
          <p class="card-text">{% include '/text/team_member1.txt' %}</p>
          <div class="social-media">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-twitter-square"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Row 2 -->
  <div class="row g-3 mt-3">
    <!-- Team Memeber 5 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/1251171/pexels-photo-1251171.jpeg?cs=srgb&dl=pexels-jonas-androx-1251171.jpg&fm=jpg">
        <div class="card-body">
          <h5 class="card-title">Assor Deborah</h5>
          <h6 class="role">Role</h6>
          <p class="card-text">{% include '/text/team_member1.txt' %}</p>
          <div class="social-media">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-twitter-square"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Team Memeber 6 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/9401780/pexels-photo-9401780.jpeg?cs=srgb&dl=pexels-cottonbro-9401780.jpg&fm=jpg" alt="Profile 2" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Jayeoba Faith</h5>
          <h6 class="role">Role</h6>
          <p class="card-text">{% include '/text/team_member1.txt' %}</p>
          <div class="social-media">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-twitter-square"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Team Memeber 7 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/7945010/pexels-photo-7945010.jpeg?cs=srgb&dl=pexels-chris-f-7945010.jpg&fm=jpg" alt="Profile 2" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Muhameed Zahra</h5>
          <h6 class="role">Role</h6>
          <p class="card-text">{% include '/text/team_member1.txt' %}</p>
          <div class="social-media">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-twitter-square"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Team Memeber 8 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/3762940/pexels-photo-3762940.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-3762940.jpg&fm=jpg" alt="Profile 2" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Oluwatoyosi Jedidah</h5>
          <h6 class="role">Role</h6>
          <p class="card-text">{% include '/text/team_member1.txt' %}</p>
          <div class="social-media">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-twitter-square"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Row 3 -->
  <div class="row g-3 mt-3 mb-3">
    <!-- Team Memeber 9 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/428361/pexels-photo-428361.jpeg?cs=srgb&dl=pexels-spencer-selover-428361.jpg&fm=jpg">
        <div class="card-body">
          <h5 class="card-title">Omotade Aditomiwa</h5>
          <h6 class="role">Role</h6>
          <p class="card-text">{% include '/text/team_member1.txt' %}</p>
          <div class="social-media">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-twitter-square"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Team Memeber 10 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="https://images.pexels.com/photos/428333/pexels-photo-428333.jpeg?cs=srgb&dl=pexels-spencer-selover-428333.jpg&fm=jpg" alt="Profile 2" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Oyedeji Opeoluwa</h5>
          <h6 class="role">Role</h6>
          <p class="card-text">{% include '/text/team_member1.txt' %}</p>
          <div class="social-media">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-twitter-square"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<style>
.card-title{
   color: #2E2F2F;
   font-weight: bold;
   font-size: 23px;
}

.role{
   color: #A84B5C;
   font-weight: 600;
   font-style: italic;
   font-size: 20px;
}

.social-media .fab{
  font-size: 25px;
  color: #A84B5C;
  padding: 0 5px;
}

.card{
  box-shadow: 0px 2px 5px #A84B5C;
  overflow: hidden;
  border-radius: 15px;
}
</style>
{% endblock %}

